 <h3>Add Story</h3>
 {{!-- ****************************row******************************** --}}
 <div class="row">
    <form action="/stories" method="POST" class="col s12">
{{!-- ****************************row******************************** --}}
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>
{{!-- ****************************row******************************** --}}
    <div class="row">
        <div class="input-field">
            <select name="status" id="status">
                <option value="public" selected>Public</option>
                <option value="private">Private</option>
            </select>
            <label for="status">Status</label>
        </div>
    </div>  
{{!-- ***********************row************************************* --}}
    <div class="row">
        <div class="input-field">
            <h5>Dream a little</h5>
            <textarea name="body" id="body"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="input-field">
           <input type="submit" value="Save" class="btn">
           <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </div>
{{!-- ***********************row************************************* --}}
    
    </form>
 </div>